{% extends 'base.html.twig' %}

{% block body %} 
    <div class="container">      
        <div class="row">       
            <div class="col-md-12 text-center" style="margin-top:50px">
                <h2>Añadir Entradas</h2>    
            </div>
            <div class="col-md-12">                 
                {{form_start(form,{'enctype':'multipart/form-data'})}}
                {{form_end(form)}}
            </div>  
            <div class="clearfix"></div>  
        </div>
         {% if (app.user.id is defined) %} 
            <a class="nav-link float-right" href="{{ path('logout') }}">Finish Session!!</a>
            <a class="nav-link float-right" href="{{ path('posts') }}">Go back to posts!!</a>
        {% endif %}
    </div>           
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock %}       

