{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{message}}</div>
    {% endfor %}
   <div class="blog">
        <div class="heading" style="margin-top:100px">
            <div class="container">
                <h3 class="product">
                ICEDOWeb
                <a href="{{ path('posts') }}">Noticias</a>
                </h3>
                <h2><strong>{{post.title}}</strong></h2>

                <div class="share-link">SHARE<i class="fa fa-chevron-down"></i></div>
                    <div class="share">
                        <div class="col-md-12">
                            <hr class="light-100">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <hr class="light-100">
                        </div> 
                    </div>
                </div> 
                              
            </div>
        </div> 
        <div class="contenido">  
            <div class="container">
                <p><img  class="col-lg-12" style="height:400px" src="{{ asset("uploads/"~post.image)}}"/></p> 
               <div class=" col-lg-12 texto-center"> 
                    <p>{{post.content | raw }}</strong></p>
                    <p><a class="nav-link" href="{{ path('contact') }}">Contact Us/Know Our Services</a></p>
                </div>    
            </div>
            
        </div>   
    </div> 
    
<section class="theme-bg">    
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center ">
                <div class="col-md-4">
                    <h5>Phone</h5>
                    <hr class="light">
                    <p>999.999.999</p>                  
                </div>
                <div class="col-md-4">
                    <h5>Email</h5>
                    <hr class="light">
                    <p>icedoweb@gmail.com</p>              
                </div>
                    <div class="col-md-4">
                        <h5>Location</h5>
                        <hr class="light">
                        <p>C/Vilar de Donas,13,28050 Madrid</p>             
                </div>                              
            </div>
        </div>
    </footer>
</section> 
{% endblock %}