{% extends 'welcome/home.html.twig' %}

{% block content %}
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{message}}</div>
    {% endfor %}
    <div class="container">
        <div class="section-heading "style="margin:100px auto 100px auto">
            {% if (app.user.id is defined) %} 
                <a class="nav-link float-right"  href="{{ path('add_posts') }}">Añadir POST</a>
                <a class="nav-link float-right"  href="{{ path('logout') }}">Salir</a>
            {% endif %}
            <br/> 
            <h2 class="text-center">Our News</h2>
        </div>
        <div class="row">
            {% for post in posts %} 
                <div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
                    <div class="blog-grid">                          
                        <div class="blog-grid-img position-relative">  
                            <a href={{path("posts_details",{"id":post.id})}}><img src="{{ asset("uploads/"~post.image)}}"/></a>
                        </div>
                        <div class="blog-grid-text padding-25px-all sm-padding-20px border ">     
                            <h4><strong>{{post.title}}</strong></h4>
                            <div class="no-margin">    
                                <p>{{post.summary | raw}}</strong></p>
                            </div>  
                            <p>Autor:{{ post.user.username }}</p>  
                            <a href="{{path("posts_details",{"id":post.id})}}">Read More</a>  
                            {% if (app.user.id is defined) and (post.user.id == app.user.id) %} 
                                <p>
                                    <a href="{{path("delete_posts",{"id":post.id})}}" class="btn btn-danger">Delete</a>
                                    <a href="{{path("edit_posts",{"id":post.id})}}" class="btn btn-warning">Edit</a>
                                </p>
                            {% endif %}
                        </div>                                                   
                    </div> 
                </div>
                <div class="clearfix"></div>
                <hr/> 
            {% endfor %}       
        </div>    
    </div>     
{% endblock %}
